
button {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  background: rgb(135, 204, 131);
  /* border: 1px #4BB543 solid; */
  padding: 0.8em 1.2em;
  border-radius: 0.4em;
  font-weight: bold;
  font-size: 1em;
  outline: none;
}

button:hover {
  /* border: 1px antiquewhite solid; */
  box-shadow: 1px 1px 1px #EAEAEA;
  color: white;
  background: #4BB543;
}

button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;
}

