label {
    font-size: 1.4em;
    font-variant: small-caps;
    margin-left: 0.4em;
    padding-top: 2px;
}

input[type=radio] label{
    font-variant: small-caps;
}

input[type=radio]:checked~label {
    color: lightskyblue;
}

.radio-separator {
    width: 30%;
    margin-bottom: 1.4em;
    border: 3px solid #68EDC6;
}